---
layout: base
title: GGCon - Voice Actor Panels
custom_js: /js/advanced-content-loader.js
page_type: tournaments
---
<body>
    <div id="header-placeholder"></div>
    {% assign tournaments_content = site.tournaments | where: "title", "About" | first %}

    <main class="container">
        <div class="banner-image-container">        
            <div class="banner-image">
                {% assign tournaments_banner_image = tournaments_content.banner_image %}
                <img src="{{ tournaments_banner_image }}">
            </div>
            <div class="banner-info section-content">
                <div class="banner-title"> Competitive Tournaments </div>   
                <div class="banner-description"> {{ tournaments_content.description }} </div>   

            </div>
        </div>
        <section id="panels" class="section">
            <div class="section-content">
                {% for panel in site.tournaments %}
                    <div class="tournament-container">
                    {% unless panel.title == "About" %}
                        <div class="tournament-info">
                            {{ panel.content }}
                        </div>
                        {% if panel.sponsor_logo != ""%}
                        <img src="{{ panel.sponsor_logo }}" class="sponsor-logo large">
                        {% endif %}
                    {% endunless %}
                    </div>
                {% endfor %}
            </div>
        </section>  
    </main>
</body>